$window-width:298px;
$window-height:436px;

.app {
  max-width: $window-width;
  width: 100%;
  margin: 100px auto 0;
  padding: 0;
  background: #18172A;
  border: 1px solid rgba(255,255,255,0.12);
  font-family: "Helvetica Now Display";
}