//Medium
@font-face {
  font-family: 'Helvetica Now Display';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../../public/assets/fonts/HelveticaNowDisplay-Medium.woff2) format('woff2');
}

//Bold
@font-face {
  font-family: 'Helvetica Now Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../../public/assets/fonts/HelveticaNowDisplay-Bold.woff2) format('woff2');
}

//Extrabold
@font-face {
  font-family: 'Helvetica Now Display';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../../public/assets/fonts/HelveticaNowDisplay-ExtraBold.woff2) format('woff2');
}