$radius: 3px;
$border-tile: 0.5px solid rgba(255, 255, 255, 0.08);
$bg-tile: #060415;

.tile {
	background: $bg-tile;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border: $border-tile;
	margin-top: 8px;
	position: relative;
	height: 88px;
	border-radius: $radius;


	.tile__title{
		position: absolute;
		top: -8px;

		width: fit-content;
		background: rgba(6, 4, 21, 0.41);
		backdrop-filter: blur(9px);
		border: $border-tile;
		border-radius: $radius;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

		h2{
			font-size: 10px;
			font-weight: 800;
			text-transform: uppercase;
			line-height: 12px;
			color: #fff;
			margin: unset;
			height: 15px;
			min-width: 50px;
			padding: 1.6px 5px;
		}
	}

	.tile__content{
		font-weight: 800;
		font-size: 20px;
		line-height: 16px;
		color: #fff;
	}

	&.tile--main{
		height: 75px;
		background: $bg-tile url("http://localhost:3000/assets/images/bg-1.png") center center no-repeat;
		background-size: cover;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

		.tile__content{
			font-size: 30px;
		}
	}

	&.tile--side-1{
		background: $bg-tile url("http://localhost:3000/assets/images/bg-2.png") center center no-repeat;
		background-size: 140%;
	}

	&.tile--side-2{
		background: $bg-tile url("http://localhost:3000/assets/images/bg-3.svg") center center no-repeat;
		background-size: cover;
	}

	&.tile--side-3{
		background: $bg-tile url("http://localhost:3000/assets/images/bg-4.svg") center center no-repeat;
		background-size: cover;
	}



}