.notifications {
	display: flex;
	flex-wrap: nowrap;
	column-gap: 5px;

	font-weight: 800;
	font-size: 15px;
	line-height: 16px;
	color: #fff;

	.notifications__counter{
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 100px;
		height: 17px;
		min-width: 17px;
		background: #967AFF;

		span{
			font-weight: 700;
			font-size: 11px;
			padding: 0 4.5px;
		}
	}

	.notifications__line{
		flex: auto;
		background: transparent url("http://localhost:3000/assets/images/line.svg") center center no-repeat;
	}
}