.modal {

	// Header
	// -----------------------
	.modal__header {
		background: #241F3E;
		padding: 0 14px;
		height: 44px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.modal__header__container{
			display: inline-flex;
			flex-wrap: nowrap;
			align-items: center;
			column-gap: 11px;

			.modal__header__container__logo{
				width: 28px;
				height: 28px;
			}

			.modal__header__container__name{
				margin:unset;
				color: #fff;
				font-size: 13px;
			}
		}



		.modal__header__button{
			font-size: 12px;
			font-weight: 700;
			color: #fff;
			opacity: .65;
			transition: all 0.2s;
			cursor: pointer;
			text-decoration: none;

			&:hover{
				opacity: 1;
			}
		}
	}

	// Structure
	// -----------------------

	.modal__content{
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		padding: 10px 15px;
		text-align: center;
		position: relative;


			font-size: 12px;
			line-height: 18px;
			font-weight: 400;
			color: rgba(255, 255, 255, 0.5);

		.modal__content__tiles{
			display: flex;
			column-gap: 10px;
			row-gap: 10px;
		}

		.modal__content--bold{
			font-weight: 700;
		}

		&:after{
			content:"";
			position: relative;
			display: block;
			background: transparent url("http://localhost:3000/assets/images/footer-logo.svg") right center no-repeat;
			right:-7px;
			height: 21px;
			width: 100%;
		}

		.modal__content__form{
			min-height: 290px;
			text-align: left;


			h1{
				font-weight: 800;
				font-size: 15px;
				line-height: 16px;
				color: #fff;
				margin: 10px 0 15px 0;
			}
		}
	}
}