.button {
	border: 0;
	background: #967AFF;
	color: white;
	border-radius: 4px;
	padding: 5px 10px;
	width: 100%;
	cursor: pointer;
	font-weight: 700;
	font-size: 12px;
	line-height: 18px;
	margin: 4px 0 7px 0;
	text-decoration: none;
	transition: 0.2s background-color;

	&:hover {
		background: darken(#967AFF, 5%);
	}
}